{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="flex-fill py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="bg-warning-subtle rounded-5 shadow p-4">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                        {% if theme == 'dark' %}
                            <img src={% if object.photo %}
                                    "{{ object.photo }}"
                                    alt={{ title|capfirst }}""
                                    class="img-fluid rounded-circle shadow"
                                    style="max-width: 200px; height: 200px; object-fit: cover;">
                                {% else %}
                                    "{% static icon %}"
                                    alt={{ title|capfirst }}""
                                    class="img-fluid"
                                    style="filter: brightness(0) invert(1); max-width: 200px;">
                                {% endif %}
                        {% else %}
                            <img src={% if object.photo %}
                                    "{{ object.photo }}"
                                    alt={{ title|capfirst }}""
                                    class="img-fluid rounded-circle shadow"
                                    style="max-width: 200px; height: 200px; object-fit: cover;">
                                {% else %}
                                    "{% static icon %}"
                                    alt={{ title|capfirst }}""
                                    class="img-fluid"
                                    style="max-width: 200px;">
                                {% endif %}
                        {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h2 class="mb-4 text-center text-danger">Delete {{ title|capfirst }}</h2>
                            {% if messages %}
                                <div class="mb-3 text-center">
                                    {% for message in messages %}
                                        <div class="text-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="mb-3 p-3 {% if theme == 'dark' %}bg-dark{% else %}bg-white{% endif %} rounded-4">
                                        <strong>{{ field.label }}:</strong>
                                        <div class="mt-1">
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="mt-4 text-center">
                                    <h5 class="text-danger">Are you sure you want to delete this {{ title }}?</h5>
                                    {% if id %}
                                        <a href="{% url back_url pk=id %}" class="btn btn-dark rounded-5 px-5">Back</a>
                                    {% else %}
                                        <a href="{% url back_url %}" class="btn btn-dark rounded-5 px-5">Back</a>
                                    {% endif %}
                                    <button class="btn btn-danger rounded-5 px-5">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}