{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="flex-fill py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="bg-warning-subtle rounded-5 shadow p-4">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            {% block detail_image %}
                                {% if theme == 'dark' %}
                                <img src="{% static icon %}" alt={{ title|capfirst }} class="img-fluid" style="filter: brightness(0) invert(1); max-width: 200px;">
                            {% else %}
                                <img src="{% static icon %}" alt={{ title|capfirst }} class="img-fluid" style="max-width: 200px;">
                            {% endif %}
                            {% endblock %}
                        </div>
                        <div class="col-md-8">
                            <h2 class="mb-4 text-center">{{ title }} Details</h2>
                            {% block logic %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}