{% extends "base/base.html" %}
{% load static %}
{% block content %}
{% load date_convert_filter %}

<div class="flex-fill py-5">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-6">
                <form>
                    <div class="input-group">
                        {{ form.search }}
                        <button class="btn btn-success border-warning-subtle rounded-5 ms-2 px-4">
                            <span class="d-none d-sm-inline">Search</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="text-center mt-5 mb-1">
                <div class="d-flex justify-content-center gap-4">
                    <a href="?status=upcoming"
                       class="btn rounded-5 px-4
                       {% if request.GET.status != 'completed' %}
                            {% if theme == 'dark' %}
                                bg-dark text-white border-success
                            {% else %}
                                bg-warning-subtle text-dark border-success
                            {% endif %}
                       {% else %}
                            btn-success border-warning-subtle
                       {% endif %}">
                            Upcoming Assignments
                    </a>
                    <a href="?status=completed"
                       class="btn rounded-5 px-4
                       {% if request.GET.status == 'completed' %}
                            {% if theme == 'dark' %}
                                bg-dark text-white border-success
                            {% else %}
                                bg-warning-subtle text-dark border-success
                            {% endif %}
                       {% else %}
                            btn-success border-warning-subtle
                       {% endif %}">
                            Completed Assignments
                    </a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'routes:assignment_add' %}"
                        class="btn btn-success border-warning-subtle rounded-5 px-4">
                            Add Assignment
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if assignments %}
            <div class="row g-4 justify-content-center">
                {% for assignment in assignments %}
                    <div class="col-12 col-md-6">
                        <div class="border rounded-5 p-3 {% if theme == 'dark' %}bg-dark{% else %}bg-white{% endif %} shadow-sm d-flex flex-column flex-md-row align-items-start align-items-md-center gap-3">
                            <div class="d-flex align-items-center gap-3">
                                {% if theme == 'dark' %}
                                    <img src="{% static 'images/assignment_icon.png' %}" alt="Assignment" class="img-fluid" style="filter: brightness(0) invert(1); max-width: 60px;">
                                {% else %}
                                    <img src="{% static 'images/assignment_icon.png' %}" alt="Assignment" class="img-fluid" style="max-width: 60px;">
                                {% endif %}
                                <div class="d-flex flex-column lh-base gap-1 text-start">
                                    <div class="fw-semibold fs-6">Assignment #{{ assignment.id }}</div>
                                    <div class="text-muted">Route: {{ assignment.route }}</div>
                                    <div class="text-muted">Driver: {{ assignment.driver.full_name }}</div>
                                    <div class="text-muted">Vehicle: {{ assignment.vehicle }}</div>
                                    <div class="text-muted">Start: {{ assignment.assignment_start|date_convert }}, 8:00</div>
                                </div>
                            </div>
                            <div class="ms-auto mt-2 mt-md-0">
                                <a href="{% url 'routes:assignment_details' pk=assignment.id %}"
                                   class="btn btn-success rounded-5">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="bg-warning-subtle border border-success border-4 rounded-5 shadow p-2 mt-2 align-items-center text-center" style="max-width: 800px; margin-left: auto; margin-right: auto;">
                <h2 class="text-dark display-4 fw-bold m-0">Assignments not found!</h2>
            </div>
        {% endif %}
        {% include 'common/pagination.html' %}
    </div>
</div>
{% endblock %}
