{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="flex-fill py-4">
    {% include 'common/filter.html' %}
    <div class="container">
        <div class="text-center mb-3">
            <a href="{% url 'vehicle:add' %}" class="btn btn-success border-warning-subtle rounded-5 px-5 mt-1">
                Add Vehicle
            </a>
        </div>
        {% if vehicles %}
            <div class="row g-4">
                {% for vehicle in vehicles %}
                    <div class="col-md-4">
                        <div class="border rounded-5 p-3 bg-white shadow-sm d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="{% if vehicle.photo %}{{ vehicle.photo }}{% else %}{% static 'images/vehicle_icon.png' %}{% endif %}"
                                     alt="Vehicle"
                                     style="width:60px; height:60px; border-radius:50%; object-fit:cover;">
                            </div>
                            <div class="d-flex flex-column">
                                <strong>{{ vehicle.make }} {{ vehicle.model }}</strong>
                                <small>Capacity: {{ vehicle.capacity_kg }}kg</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'vehicle:details' pk=vehicle.id %}" class="btn btn-success rounded-5 me-2">Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="bg-warning-subtle border border-success border-4 rounded-5 shadow p-2 mt-2 align-items-center text-center" style="max-width: 600px; margin-left: auto; margin-right: auto;">
                <h2 class="text-dark display-4 fw-bold m-0">Vehicles not found!</h2>
            </div>
        {% endif %}
        {% include 'common/pagination.html' %}
    </div>
</div>
{% endblock %}